<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>grocery-store</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>com.haji.Edit_record</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.haji.Del_record</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/del</url-pattern>
	</servlet-mapping>

	<servlet>

		<servlet-name>AU</servlet-name>
		<servlet-class>com.haji.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AU</servlet-name>
		<url-pattern>/au</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ST</servlet-name>
		<servlet-class>com.haji.ShowTable</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ST</servlet-name>
		<url-pattern>/st</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>TU</servlet-name>
	<servlet-class>com.haji.TU</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>TU</servlet-name>
	<url-pattern>/TU</url-pattern>
	</servlet-mapping>

</web-app>